<div class="text-center" id="landingPage">

  <div class="text-center" id="lp lp-heading">
    <h1 class="p-4">Snippet Saver</h1>

    <a href="/main" target="_blank">
      <button class="btn btn-info" id="lp-btn">Start Saving</button>
    </a>
  </div>

  <div class="mt-4" id="lp lp-description">
    <p>
      Save your most beloved Snippets!
    </p>
  </div>

</div>